<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>403 Forbidden</title>

    <link th:replace="~{fragments/general :: fontAwesomeCss}"/>
    <link th:replace="~{fragments/general :: bootstrapCss}"/>

</head>

<body class="bg-secondary">

<!-- MAIN ERROR -->
<section id="main-header" class="bg-secondary text-white">
    <div class="container">
        <div class="row">
            <div class="col-md text-md-center">
                <h1><i class="fa fa-leaf"></i>Forbidden</h1>
                <p>You do not have authority to perform the requested operation</p>
            </div>
        </div>
    </div>
</section>


<script th:replace="~{fragments/general :: jquery}"></script>
<script th:replace="~{fragments/general :: popper}"></script>
<script th:replace="~{fragments/general :: bootstrap}"></script>

<!-- Using ckeditor for WYSIWYG editing in our textarea(s) -->
<!--<script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>-->
<!--<script>-->
<!--CKEDITOR.replace('editor1');-->
<!--</script>-->
</body>
</html>