<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogen Login</title>

    <link th:replace="~{fragments/general :: fontAwesomeCss}"/>
    <link th:replace="~{fragments/general :: bootstrapCss}"/>
</head>
<body>

<!-- NAVBAR -->
<!-- really thin navbar with no padding: p-0 -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
    <div class="container">
        <a href="index.html" th:href="@{/}" class="navbar-brand">Blogen</a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarNav" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a id="help" href="#" class="nav-link" data-toggle="tooltip" data-placement="left"
                       data-html="true"
                       title="<h4>Blogen Users</h4><table class='table'>
                    <thead>
                    <tr>
                        <th>User</th>
                        <th>Password</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>johndoe</td>
                        <td>password</td>
                    </tr>
                    <tr>
                        <td>scotsman</td>
                        <td>password</td>
                    </tr>
                    <tr>
                        <td>mgill</td>
                        <td>password</td>
                    </tr>
                    <tr>
                        <td>lizreed</td>
                        <td>password</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>adminpassword</td>
                    </tr>
                    </tbody>
                    </table>">
                        <i class="fa fa-question-circle"></i>
                        Help
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- DASHBOARD HEADER -->
<header id="main-header" class="py-2 bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1><i class="fa fa-user"></i>Login</h1>
            </div>
        </div>
    </div>
</header>

<!-- SEARCH POSTS -->
<section id="search-posts" class="py-4 mb-4 bg-light">

</section>

<!-- LOGIN -->
<section id="login">
    <div class="container">
        <div class="row">

            <div class="col-md-6 mx-auto">
                <div class="card border-primary">
                    <div class="card-header">
                        <h4>Account Login</h4>
                    </div>
                    <div class="card-body">

                        <div class="alert alert-danger" th:if="${param.error}">
                            <label>Invalid username or password.</label>
                        </div>
                        <div class="alert alert-success" th:if="${param.logout}">
                            <label>
                                You have been logged out.
                            </label>
                        </div>


                        <form action="#" th:action="@{/login}" method="post">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input id="username" name="username" type="text" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input id="password" name="password" type="password" class="form-control"/>
                                <!-- Example of invalid password error -->
                                <!--<input type="text" id="password" class="form-control is-invalid">-->
                                <!--<div class="invalid-feedback">-->
                                    <!--<ul>-->
                                        <!--<li>Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.</li>-->
                                        <!--<li>Validation Error 2</li>-->
                                    <!--</ul>-->
                                <!--</div>-->

                            </div>
                            <input type="submit" class="btn btn-primary btn-block" value="Login"/>
                            <!--<button type="submit" class="btn btn-primary btn-block">Login</button>-->
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<footer id="main-footer" class="bg-dark text-white mt-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="lead text-center">Copyright &copy; Blogen 2017</p>
            </div>
        </div>
    </div>
</footer>





<script th:replace="~{fragments/general :: jquery}"></script>
<script th:replace="~{fragments/general :: popper}"></script>
<script th:replace="~{fragments/general :: bootstrap}"></script>

<script>
    //need to initialize tooltips in order for them to show up
    $('[data-toggle="tooltip"]').tooltip();

    //create a function that shows a tooltip
    function showTooltip () {
        $('#help').tooltip('show');
    }

    //create a function to hide a tooltip
    function hideTooltip () {
        $('#help').tooltip('hide');
    }

    //create a function to toggle a tooltip
    function toggleTooltip () {
        $('#help').tooltip('toggle');
    }
</script>

</body>
</html>