<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Blogen Edit User Profile</title>

    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.css}"/>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0-beta.3/css/bootstrap.min.css}"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"/>
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0" th:replace="~{/fragments/navbar :: navbar}">
    <div class="container">
        <a href="index.html" class="navbar-brand">Blogen</a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarNav" class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item px-2">
                    <a href="admin/admin-index.html" class="nav-link">Dashboard</a>
                </li>
                <li class="nav-item px-2">
                    <a href="userPosts.html" class="nav-link">Posts</a>
                </li>
                <li class="nav-item px-2">
                    <a href="admin/categories.html" class="nav-link">Categories</a>
                </li>
                <li class="nav-item px-2">
                    <a href="admin/users.html" class="nav-link">Users</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown mr-3">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa user"></i>
                        Welcome Cliff
                    </a>
                    <div class="dropdown-menu">
                        <a href="profile.html" class="dropdown-item">
                            <i class="fa fa-user-circle"></i>
                            Profile
                        </a>
                        <a href="settings.html" class="dropdown-item">
                            <i class="fa fa-gear"></i>
                            Settings
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="login.html" class="nav-link">
                        <i class="fa fa-user-times"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- DASHBOARD HEADER -->
<header id="main-header" class="py-2 bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1><i class="fa fa-user"></i>Edit Profile</h1>
            </div>
        </div>
    </div>
</header>

<!-- ACTION BUTTONS -->
<section id="action" class="py-4 mb-4 bg-light">

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="#" th:href="@{/posts}" class="btn btn-light btn-block">
                    <i class="fa fa-arrow-left"></i>Back to Posts
                </a>
            </div>

            <div class="col-md-3" th:if="${successMessage}" >
                <div class="alert alert-success text-center">
                    <strong th:text="${successMessage}">Settings were saved</strong>
                </div>
            </div>
            
            <div class="col-md-3 ml-auto">
                <a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target="#passwordModal">
                    <i class="fa fa-lock"></i>Change Password
                </a>
            </div>
            <!-- only admins can delete accounts -->
            <!--<div class="col-md-3" sec:authorize="hasAuthority('ADMIN')">-->
                <!--<a href="#" class="btn btn-danger btn-block">-->
                    <!--<i class="fa fa-remove"></i>Delete Account-->
                <!--</a>-->
            <!--</div>-->
        </div>
    </div>
</section>

<!-- USER PROFILE EDIT -->
<section id="profile">
    <div class="container">
        <form id="edit-post-form" th:object="${user}" action="#" th:action="@{/profile}" method="post">
            <div class="row">
                <div class="col-md-9">
                    
                    <div class="card">
                        <div class="card-header">
                            <h4>Edit Profile</h4>
                        </div>
                        <div class="card-body">

                            <input type="hidden" name="id" value="" th:field="*{id}" />
                            <input type="hidden" name="" value="" th:field="*{userName}" />
                            
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input id="firstName" name="firstName" type="text" class="form-control" value="John" th:field="*{firstName}" th:errorclass="is-invalid"/>
                                <div class="invalid-feedback">
                                    Please fill in first name
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input id="lastName" name="lastName" type="text" class="form-control" value="Doe" th:field="*{lastName}" th:errorclass="is-invalid"/>
                                <div class="invalid-feedback">
                                    Please fill in last name
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input id="email" name="email" type="email" class="form-control" value="jdoe@gmail.com" th:field="*{email}" th:errorclass="is-invalid"/>
                                <div class="invalid-feedback">
                                    Please provide an email address
                                </div>
                            </div>
                            <!--<div class="form-group">-->
                                <!--<label for="userName">User Name</label>-->
                                <!--<input id="userName" name="userName" type="text" class="form-control" value="coolName" th:field="*{userName}" th:errorclass="is-invalid"/>-->
                                <!--<div class="invalid-feedback">-->
                                    <!--Please choose a username.-->
                                <!--</div>-->
                            <!--</div>-->

                            <div class="form-row justify-content-end">
                                <input type="submit" class="btn btn-success" value="Save"/>
                                <!--<button type="submit" class="btn btn-primary mx-2" data-dismiss="modal">Save</button>-->
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h3>Your avatar</h3>
                    <img id="avatarImage" src="/static/img/avatar1.jpg" th:src="@{'/img/' + ${user.avatarImage}}"
                          alt="" class="d-block img-fluid img-thumbnail mb-3"/>
                    <label for="avatarImageSelect">Avatar Images</label>
                    <select id="avatarImageSelect" name="avatarImage" class="form-control my-2" th:field="*{avatarImage}">
                        <option th:each="imageName : *{avatarImages}"
                                th:value="${imageName}" value="avatar1.jpg"
                                th:text="${imageName}">avatar1.jpg</option>
                    </select>
                    <!--<button class="btn btn-primary btn-block">Change Image</button>-->
                    <!--<button class="btn btn-danger btn-block">Delete Image</button>-->
                </div>

            </div>
        </form>
    </div>
</section>



<footer id="main-footer" class="bg-dark text-white mt-5" th:replace="~{/fragments/footer :: footer}">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="lead text-center">Copyright &copy; Blogen 2017</p>
            </div>
        </div>
    </div>
</footer>

<!-- PASSWORD MODAL -->
<div id="passwordModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
              <div class="modal-header bg-success text-white">
                  <h5 class="modal-title">Change Password</h5>
                  <button class="close" data-dismiss="modal"><span>&times;</span></button>
              </div>

              <div class="modal-body">
                  <form id="changePasswordModal" action="#" th:object="${user}" th:action="@{/profile/password}" method="post">

                      <input type="hidden" name="" value="" th:field="*{id}" />
                      <input type="hidden" name="" value="" th:field="*{userName}" />
                      <input type="hidden" name="" value="" th:field="*{firstName}" />
                      <input type="hidden" name="" value="" th:field="*{lastName}" />
                      <input type="hidden" name="" value="" th:field="*{email}" />
                      <input type="hidden" name="" value="" th:field="*{avatarImage}" />

                      <div class="form-group">
                          <label for="password">Password</label>
                          <input id="password" name="password" type="password" class="form-control" value="" th:field="*{password}" th:errorclass="is-invalid"/>
                          <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}">
                              <ul>
                                  <li th:each="err : ${#fields.errors('password')}" th:text="${err}"></li>
                              </ul>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="confirmPassword">Confirm Password</label>
                          <input id="confirmPassword" name="confirmPassword" type="password" class="form-control" value="" th:field="*{confirmPassword}" th:errorclass="is-invalid"/>
                          <div class="invalid-feedback" th:if="${#fields.hasErrors('confirmPassword')}">
                              <ul>
                                  <li th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"></li>
                              </ul>
                          </div>
                      </div>
                      <!-- NOTE: Example of moving form buttons within the <form> tag rather than using modal-footer -->
                      <div class="form-row justify-content-end">
                          <button class="btn btn-secondary mx-2" data-dismiss="modal">Close</button>
                          <input type="submit" class="btn btn-success mx-2" value="Update Password"/>
                      </div>
                  </form>
              </div>
            <!--<div class="modal-footer">-->
                <!--<button class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                <!--<button class="btn btn-warning" data-dismiss="modal">Save Changes</button>-->
            <!--</div>-->
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        th:src="@{/webjars/jquery/3.2.1/dist/jquery.slim.min.js}"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        th:src="@{/webjars/popper.js/1.11.1/dist/umd/popper.min.js}"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/4.0.0-beta.3/js/bootstrap.min.js}"
        integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>
<!-- Using ckeditor for WYSIWYG editing in our textarea(s) -->
<!--<script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>-->
<!--<script>-->
    <!--CKEDITOR.replace('editor1');-->
<!--</script>-->
<script th:inline="javascript">
    //change avatar image when selected from dropdown

    //this imagePath uses Thymeleaf to set the base image directory
    var imagePath = [(@{/img/})];
    console.log("image path:" + imagePath);
    $(document).ready(function(){
        $("#avatarImageSelect").change( function() {
            $("#avatarImage").attr("src", imagePath + $(this).val());
        });
    });
</script>
<script th:inline="javascript">
    //check for password validation errors, if true then display password modal automatically
    var errors = [(${passwordError})];
    $(document).ready(function(){

       if (errors) $("#passwordModal").modal('show');

    });
</script>


</body>
</html>