<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogen Posts</title>


    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.css}"/>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0-beta.3/css/bootstrap.min.css}"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"/>


</head>
<body>

<!-- NAVBAR -->
<!-- really thin navbar with no padding: p-0 -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0" th:replace="~{fragments/navbar :: navbar}">
    <div class="container">
        <a href="index.html" th:href="@{/}" class="navbar-brand">Blogen</a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarNav" class="collapse navbar-collapse">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown mr-3">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user"></i>
                        <span sec:authorize="isAuthenticated()">
                            Welcome <span th:text="${user.userName}">UserName</span>
                        </span>
                        <!--Welcome <span th:text="${user.userName}"></span>-->
                    </a>
                    <div class="dropdown-menu">
                        <!--todo add profile page -->
                        <a th:href="@{profile.html}" class="dropdown-item">
                            <i class="fa fa-user-circle"></i>
                            Profile
                        </a>
                        <!-- Not going to use settings -->
                        <!--<a href="settings.html" class="dropdown-item">-->
                            <!--<i class="fa fa-gear"></i>-->
                            <!--Settings-->
                        <!--</a>-->
                    </div>
                </li>
                <!-- LOGOUT Form -->
                <li class="nav-item">
                    <form th:action="@{/logout}" method="post">
                        <i class="fa fa-user-times"></i>
                        <button type="submit" class="btn btn-link text-secondary">Logout</button>
                    </form>
                    <!--<a th:href="@{/logout}" class="nav-link">-->
                        <!--<i class="fa fa-user-times"></i>-->
                        <!--Logout-->
                    <!--</a>-->
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- DASHBOARD HEADER -->
<header id="main-header" class="py-2 bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1><i class="fa fa-pencil"></i>Posts</h1>
            </div>
        </div>
    </div>
</header>

<!-- FILTER POSTS / SEARCH POSTS -->
<section id="search-posts" class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <!-- POST FILTER -->
            <div class="col-md-4">
                <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filter Posts
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a th:each="category : ${page.categories}" class="dropdown-item"
                           href="userPosts.html" th:href="@{'/posts/category/'+${category.id}}" th:text="${category.name}">
                            Category Name
                        </a>
                    </div>
                </div>
            </div>
            <!-- NEW POST -->
            <div class="col-md-4">
                <a href="#" class="btn btn-primary btn-block" th:data-user-id="${user.id}" data-user-id="1"
                   data-toggle="modal" data-target="#newPostModal">
                    <i class="fa fa-plus"></i>New Post
                </a>
            </div>
            <!-- SEARCH -->
            <div class="col-md-4">
                <form id="searchPostsForm" th:action="@{/posts/search}" method="post">
                    <div class="form-row">
                        <div class="form-inline ml-auto">
                            <input type="text" name="searchText" class="form-control" placeholder="Search Posts"/>
                            <input type="submit" class="btn btn-primary" value="Search"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

</section>

<!-- POSTS IN MEDIA OBJECTS STYLE -->
<section id="posts" class="py-2">
    <div class="container">
        

            <!-- POST BEGIN HERE -->
            <div class="media mt-3" th:each="parentPost : ${page.posts}">
                <img class="d-flex mr-3" src="img/avatar2.jpg" th:src="@{'img/'+${parentPost.userAvatar}}">
                <div class="media-body">

                    <h5 class="font-weight-bold" th:text="${parentPost.title}">Loving the echo</h5>

                    <h6>By <small th:text="${parentPost.userName}">rogueTwo</small>
                        in <small class="font-italic" th:text="${parentPost.categoryName}">Tech Gadgets</small>
                        at <small class="font-italic" th:text="${parentPost.created}">date</small>
                    </h6>

                    <span th:text="${parentPost.text}">Got one of these Amazon Echo things for Christmas. I don't think I'll leave the house.</span>

                    <!--REPLY BUTTON - any user can reply to a parent post -->
                    <a href="#" class="btn btn-outline-success btn-sm"
                       th:data-post-id="${parentPost.id}" data-post-id="2"
                       th:data-cat-name="${parentPost.categoryName}" data-cat-name="Business" data-toggle="modal" data-target="#replyPostModal">
                        Reply
                    </a>

                    <!-- DELETE BUTTON -->
                    <a th:if="${parentPost.userId == user.id}" href="#" th:href="@{'/posts/'+${parentPost.id}+'/delete'}"
                           class="btn btn-outline-danger btn-sm" th:data-val="${parentPost.id}" data-val="2">
                            Delete
                    </a>



                    <!--CHILD POSTS start here -->
                    <div class="media mt-3" th:each="childPost : ${parentPost.children}">
                        <a class="d-flex pr-3" href="#">
                            <img src="img/avatar3.jpg" th:src="@{'img/'+${childPost.userAvatar}}" class="img-thumbnail" width="100" height="100">
                        </a>
                        <div class="media-body">
                            <h5 class="mt-0" th:text="${childPost.title}">Loving the echo....be careful</h5>
                            <h6>By <small th:text="${childPost.userName}">rogueTwo</small>
                                in <small class="font-italic" th:text="${childPost.categoryName}">Tech Gadgets</small>
                                at <small class="font-italic" th:text="${childPost.created}">date</small>
                            </h6>
                            <span th:text="${childPost.text}">Be careful...I don't trust those things. They're always on... :(</span>

                        </div>
                    </div>

                    <div class="media mt-3" th:remove="all">
                        <a class="d-flex pr-3" href="#">
                            <img src="img/avatar4.jpg" class="img-thumbnail" width="100" height="100">
                        </a>
                        <div class="media-body">
                            <h5 class="mt-0">Loving the echo...You're not alone</h5>
                            <h6>Tech Gadgets</h6>
                            I'm loving it too. I just played a game of chess on it. :)
                        </div>
                    </div>

                </div>
            </div>

            <div class="media mt-3" th:remove="all">
                <img class="d-flex mr-3 align-self-start img-thumbnail" width="100" height="100" src="img/avatar.png">
                <div class="media-body">
                    <h5 class="mt-0">Bootstrap 4</h5>
                    <h6>Web Development</h6>
                    Finally took the time to dig into this. It's amazing how you can do a lot with so little.
                </div>
            </div>
            
        
        <!-- PAGINATION -->
        <nav class="ml-4 mt-5">
            <!--TODO build pagination -->
            <ul class="pagination">
                <li class="page-item disabled" th:class="${page.requestedPage == 0 ? 'page-item disabled' : 'page-item'}">
                    <a href="#" th:href="@{'/posts/page/'+${page.requestedPage - 1}}" class="page-link">Previous</a>
                </li>
                <li class="page-item" th:each="i: ${#numbers.sequence(0,page.totalPages - 1)}">
                    <a href="#" th:href="@{'/posts/page/'+${i}}" class="page-link" th:text="${i + 1}">1</a>
                </li>
                <li class="page-item" th:remove="all">
                    <a href="#" class="page-link">2</a>
                </li>
                <li class="page-item" th:remove="all">
                    <a href="#" class="page-link">3</a>
                </li>
                <li class="page-item" th:class="${page.requestedPage + 1 == page.totalPages ? 'page-item disabled' : 'page-item'}">
                    <a href="#" th:href="@{'/posts/page/'+${page.requestedPage + 1}}" class="page-link">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</section>

<!-- POSTS -->
<!--<section id="posts">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col">-->
<!--<div class="card">-->
<!--<div class="card-header">-->
<!--<h4>Latest Posts</h4>-->
<!--</div>-->
<!--<table class="table table-striped">-->
<!--<thead class="thead-inverse">-->
<!--<tr>-->
<!--<th>#</th>-->
<!--<th>User</th>-->
<!--<th>Title</th>-->
<!--<th>Category</th>-->
<!--<th>Date Posted</th>-->
<!--<th></th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr>-->
<!--<td scope="row">1</td>-->
<!--<td>-->
<!--<div class="col">-->
<!--<h6>YouKnowJohnDoe</h6>-->
<!--<img class="img-fluid img-thumbnail" src="img/avatar.png" height="50" width="50">-->
<!--</div>-->
<!--</td>-->
<!--<td>-->
<!--<a href="#" data-toggle="collapse" data-target="#post-text-1">-->
<!--What is the best way to position block elements...-->
<!--</a>-->
<!--<div class="collapse" id="post-text-1">-->

<!--<p>-->
<!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit eius-->
<!--libero quisquam nobis explicabo vel non necessitatibus ipsum doloribus-->
<!--cupiditate voluptate recusandae quo autem error debitis, sed, minima-->
<!--repellendus commodi.-->
<!--</p>-->
<!---->
<!--</div>-->
<!--</td>-->
<!--<td>Web Development</td>-->
<!--<td>July 12, 2017</td>-->
<!--<td>-->
<!--&lt;!&ndash;TODO maybe add functionality to edit a post &ndash;&gt;-->
<!--&lt;!&ndash;<a href="details.html" class="btn btn-secondary">&ndash;&gt;-->
<!--&lt;!&ndash;<i class="fa fa-angle-double-right">Details</i>&ndash;&gt;-->
<!--&lt;!&ndash;</a>&ndash;&gt;-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td scope="row">2</td>-->
<!--<td>-->
<!--<div class="col">-->
<!--<h6>sheila</h6>-->
<!--<img class="img-fluid img-thumbnail" src="img/avatar1.jpg" height="50" width="50">-->
<!--</div>-->
<!--</td>-->
<!--<td>Has anyone used an Amazon Echo or the one with the screen</td>-->
<!--<td>Tech Gadgets</td>-->
<!--<td>July 13, 2017</td>-->
<!--<td></td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td scope="row">3</td>-->
<!--<td>-->
<!--<div class="col">-->
<!--<h6>guster</h6>-->
<!--<img class="img-fluid img-thumbnail" src="img/avatar2.jpg" height="50" width="50">-->
<!--</div>-->
<!--</td>-->
<!--<td>I need a web framework recommendation for building a product site</td>-->
<!--<td>Web Development</td>-->
<!--<td>July 14, 2017</td>-->
<!--<td></td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td scope="row">4</td>-->
<!--<td>-->
<!--<div class="col">-->
<!--<h6>tron33</h6>-->
<!--<img class="img-fluid img-thumbnail" src="img/avatar3.jpg" height="50" width="50">-->
<!--</div>-->
<!--</td>-->
<!--<td>What is the best way to form an LLC</td>-->
<!--<td>Business</td>-->
<!--<td>July 15, 2017</td>-->
<!--<td></td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td scope="row">5</td>-->
<!--<td>-->
<!--<div class="col">-->
<!--<h6>sassFan</h6>-->
<!--<img class="img-fluid img-thumbnail" src="img/avatar4.jpg" height="50" width="50">-->
<!--</div>-->
<!--</td>-->
<!--<td>Can anyone recommend an IDE for Python and Java development</td>-->
<!--<td>Web Development</td>-->
<!--<td>July 16, 2017</td>-->
<!--<td></td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td scope="row">6</td>-->
<!--<td>-->
<!--<div class="col">-->
<!--<h6>missMissy</h6>-->
<!--<img class="img-fluid img-thumbnail" src="img/avatar.png" height="50" width="50">-->
<!--</div>-->
<!--</td>-->
<!--<td>Whats the best diet to burn fat</td>-->
<!--<td>Heath & Wellness</td>-->
<!--<td>July 13, 2017</td>-->
<!--<td></td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->

<!--&lt;!&ndash; PAGINATION &ndash;&gt;-->
<!--<nav class="ml-4">-->
<!--<ul class="pagination">-->
<!--<li class="page-item disabled">-->
<!--<a href="#" class="page-link">Previous</a>-->
<!--</li>-->
<!--<li class="page-item">-->
<!--<a href="#" class="page-link">1</a>-->
<!--</li>-->
<!--<li class="page-item">-->
<!--<a href="#" class="page-link">2</a>-->
<!--</li>-->
<!--<li class="page-item">-->
<!--<a href="#" class="page-link">3</a>-->
<!--</li>-->
<!--<li class="page-item">-->
<!--<a href="#" class="page-link">Next</a>-->
<!--</li>-->
<!--</ul>-->
<!--</nav>-->
<!---->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--</section>-->

<footer id="main-footer" class="bg-dark text-white mt-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="lead text-center">Copyright &copy; Blogen 2017</p>
            </div>
        </div>
    </div>
</footer>


<!-- REPLY POST MODAL -->
<div id="replyPostModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header bg-success text-white">
                <h5 class="modal-title">Reply to Post</h5>
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>

            <div class="modal-body">
                <!-- TODO correct action needed here -->
                <form id="replyPostForm" th:object="${postCommand}" action="login.html" th:action="@{/posts}" method="post">

                    <!--TODO probably need a hidden field with parent post id -->
                    <input id="parentId" name="parentId" type="hidden" value="" th:field="*{parentId}"/>
                    <input id="reply-userId" name="userId" type="hidden" value="" th:field="*{userId}"/>
                    <!--<input id="categoryName" name="categoryName" type="hidden" value=""/>-->

                    <div class="form-group">
                        <label for="post-title">Title</label>
                        <input id="post-title" name="title" type="text" class="form-control"/>
                    </div>
                    <!-- replying to a post will inherit the parent's category -->
                    <!--<div class="form-group">-->
                        <!--<label for="post-category">Category</label>-->
                        <!--<select id="post-category" name="category" class="form-control" th:field="*{categoryName}">-->
                            <!--<option th:each="category : ${page.categories}"-->
                                    <!--th:value="${category.name}" value="Web Development"-->
                                    <!--th:text="${category.name}">Web Development</option>-->
                        <!--</select>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label for="post-image">Image Link</label>
                        <input id="post-image" name="image" type="url" class="form-control" th:field="*{imageUrl}"/>
                        <small class="form-text text-muted">Valid URL to an image that will be displayed on Blogen Front Page</small>
                    </div>
                    <div class="form-group">
                        <label for="post-body">Body</label>
                        <!-- maybe we will use ckeditor here -->
                        <textarea id="post-body" name="body" rows="5" class="form-control" th:field="*{text}"></textarea>
                    </div>

                    <div class="form-row justify-content-end">
                        <button class="btn btn-secondary mx-2" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Save"/>
                        <!--<button type="submit" class="btn btn-primary mx-2" data-dismiss="modal">Save</button>-->
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- NEW POST MODAL -->
<div id="newPostModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">New Post</h5>
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>

            <div class="modal-body">
                <!--TODO set action here -->
                <form id="newPostForm" action="userPosts.html" th:object="${postCommand}" th:action="@{/posts}" method="post">

                    <input id="userId" name="userId" type="hidden" value="" th:field="*{userId}"/>

                    <div class="form-group">
                        <label for="newPostTitle">Title</label>
                        <input id="newPostTitle" th:field="*{title}" name="title" type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="newPostCategory">Category</label>
                        <select id="newPostCategory" name="categoryName" class="form-control" th:field="*{categoryName}">
                            <option th:each="category : ${page.categories}"
                                    th:value="${category.name}" value="Web Development"
                                    th:text="${category.name}">Web Development</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="newPostImage">Image Link</label>
                        <input id="newPostImage" name="imageUrl" type="url" class="form-control" th:field="*{imageUrl}"/>
                        <small class="form-text text-muted">Valid URL to an image</small>
                    </div>
                    <div class="form-group">
                        <label for="newPostBody">Body</label>
                        <!-- maybe we will use ckeditor here -->
                        <textarea id="newPostBody" name="text" rows="5" class="form-control" th:field="*{text}"></textarea>
                    </div>
                    <div class="form-row justify-content-end">
                        <button class="btn btn-secondary mx-2" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Save"/>
                        <!--<button type="submit" class="btn btn-primary mx-2" data-dismiss="modal">Save</button>-->
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        th:src="@{/webjars/jquery/3.2.1/dist/jquery.slim.min.js}"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        th:src="@{/webjars/popper.js/1.12.9/dist/umd/popper.min.js}"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
    th:src="@{/webjars/bootstrap/4.0.0-beta.3/js/bootstrap.min.js}"
    integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
    crossorigin="anonymous"></script>

<script>
    //sets the parent post Id and categoryId when someone clicks the reply button for a post
    $('#replyPostModal').on('show.bs.modal', function (event) {
        var postId = $(event.relatedTarget).data('post-id');
        var catName = $(event.relatedTarget).data('cat-name');
        console.log("running replyPostModal post-id:" + postId);
        console.log("running replyPostModal cat-name:" + catName);
        $(this).find("#parentId").val(postId);
        //no longer need to set category name
        //$(this).find("#categoryName").val(catName);
    });
</script>

<script>
    //sets the userId when someone clicks the new post button
    $('#newPostModal').on('show.bs.modal', function (event) {
        var userId = $(event.relatedTarget).data('user-id');
        console.log("running newPostModal user-id:" + userId);
        $(this).find("#userId").val(userId);
    });
</script>

</body>
</html>